<p id="notice"><%= notice %></p>

<h1>Workflows</h1>
<ul>
  <li><%= link_to 'Transfers', transfers_path %></li>
  <li><%= link_to 'Reviews', reviews_path %></li>
  <li><%= link_to 'Ingests', ingests_path %></li>
</ul>
