$text-colour: #424242;
$navbar-default-bg: white;
$navbar-default-border: none;
$font-size-base: 16px;
$navbar-default-brand-color: $text-colour;
$navbar-default-brand-hover-color: lighten($navbar-default-brand-color, 40%) !default;
